.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  background-color: rgba(6, 10, 11, 1);
  border-bottom: 1px solid #1a1f22;
  color: #ffffff;
  font-size: 14px;
  height: 50px;
}

.left {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}




.right {
  padding-right: 10px;
}

.signout-button {
  padding: 6px 14px;
  margin-top: 0;
  background-color: #e0e0e0;
  color: #111111;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signout-button:hover {
  background-color: #cccccc;
}

.dropdown-toggle {
  padding: 6px 14px;
  background-color: #334155;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-toggle:hover {
  background-color: #475569;
}

.button-port {
  padding: 6px 14px;
  margin-top: 0;
  background-color: #e0e0e0;
  color: #111111;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-port:hover {
  background-color: #cccccc;
}